
@font-face {
    font-family: 'HelveticaNeueCyr roman';
    src: url("/fonts/3.ttf");
}
header .res-header
{

    height: 70px;
    width: 70%;
    /*background-color: #1e1f21;*/
    background-color: rgba(34, 40, 53, 0);
    position: absolute;
    left: 15%;
    top: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
header{
    overflow: hidden;
    transition-duration: 0.1ms;
}

#logo{
    transition-duration: 0.3s;
}
#mainHeader{
    transition-duration: 0.3s;
}

.res-header #item1{
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    transform: translateY(-50px);
    cursor: pointer;
}
.res-header #item2{
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    transform: translateY(-60px);
}
#largeLogin{
    transition-duration: 0.3s;
    transition-delay: 0.2s;
}
#message{
    opacity: 0;
    transition-duration: 0.5s;
    transition-delay: 0.5s;
}
#container-mix .category-5{

}
@keyframes myanim  {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}